    {% extends 'layout.html' %}
    {% block head %}
    <link href="assets/css/pages/prices-rtl.css" rel="stylesheet" type="text/css"/>

    {% endblock  %}

    <!-- BEGIN PAGE CONTAINER --> 
    {% block content %}
        <!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs margin-bottom-40">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>الطلبات</h1>
                </div>
              <!--   <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="index.html">الطلبات</a></li>
                        <li><a href="">Pages</a></li>
                        <li class="active">Prices</li>
                    </ul>
                </div> -->
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTAINER -->   
        <div class="container min-hight">
            <!-- BEGIN PRICING OPTION1 -->
            <div class="row margin-bottom-40">
           
                <div class="col-md-3">
                    <div class="pricing">
                        <div class="pricing-head">
                            <h3>محممد<span>محممد محممد محممد</span></h3>
                            <img class="img-responsive" src="img/tst.jpg">
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li><i class="icon-tags"></i> محممد محممد محممد</li>
                            <li><i class="icon-asterisk"></i> محممد محممد</li>
                            <li><i class="icon-heart"></i> محممد محممد</li>
                            <li><i class="icon-star"></i> محممد محممد محممد</li>
                            <li><i class="icon-shopping-cart"></i> محممد محممد محممد</li>
                        </ul>
                        <div class="pricing-footer">
                            <p>محممد محممد محممد محممد محممد, محممد محممد محممد. محممد  محممد محممد محممد, .</p>
                            <a href="#" class="btn theme-btn">تبرع</a>  
                        </div>
                    </div>
                </div><div class="col-md-3">
                    <div class="pricing">
                        <div class="pricing-head">
                            <h3>محممد<span>محممد محممد محممد</span></h3>
                            <img class="img-responsive" src="img/tst.jpg">
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li><i class="icon-tags"></i> محممد محممد محممد</li>
                            <li><i class="icon-asterisk"></i> محممد محممد</li>
                            <li><i class="icon-heart"></i> محممد محممد</li>
                            <li><i class="icon-star"></i> محممد محممد محممد</li>
                            <li><i class="icon-shopping-cart"></i> محممد محممد محممد</li>
                        </ul>
                        <div class="pricing-footer">
                            <p>محممد محممد محممد محممد محممد, محممد محممد محممد. محممد  محممد محممد محممد, .</p>
                            <a href="#" class="btn theme-btn">تبرع</a>  
                        </div>
                    </div>
                </div><div class="col-md-3">
                    <div class="pricing">
                        <div class="pricing-head">
                            <h3>محممد<span>محممد محممد محممد</span></h3>
                            <img class="img-responsive" src="img/tst.jpg">
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li><i class="icon-tags"></i> محممد محممد محممد</li>
                            <li><i class="icon-asterisk"></i> محممد محممد</li>
                            <li><i class="icon-heart"></i> محممد محممد</li>
                            <li><i class="icon-star"></i> محممد محممد محممد</li>
                            <li><i class="icon-shopping-cart"></i> محممد محممد محممد</li>
                        </ul>
                        <div class="pricing-footer">
                            <p>محممد محممد محممد محممد محممد, محممد محممد محممد. محممد  محممد محممد محممد, .</p>
                            <a href="#" class="btn theme-btn">تبرع</a>  
                        </div>
                    </div>
                </div><div class="col-md-3">
                    <div class="pricing">
                        <div class="pricing-head">
                            <h3>محممد<span>محممد محممد محممد</span></h3>
                            <img class="img-responsive" src="img/tst.jpg">
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li><i class="icon-tags"></i> محممد محممد محممد</li>
                            <li><i class="icon-asterisk"></i> محممد محممد</li>
                            <li><i class="icon-heart"></i> محممد محممد</li>
                            <li><i class="icon-star"></i> محممد محممد محممد</li>
                            <li><i class="icon-shopping-cart"></i> محممد محممد محممد</li>
                        </ul>
                        <div class="pricing-footer">
                            <p>محممد محممد محممد محممد محممد, محممد محممد محممد. محممد  محممد محممد محممد, .</p>
                            <a href="#" class="btn theme-btn">تبرع</a>  
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PRICING OPTION1 -->

          

            <div class="clearfix margin-bottom-10"></div>

      
        </div>
        <!-- END CONTAINER -->
    {% endblock %}
    <!-- END PAGE CONTAINER -->
     {% block footer %}
         <script type="text/javascript" src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>  
    {% endblock %}